.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3em auto;
    gap: 5em;
}

.img {
    width: 300px;
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .cards {
        grid-template-columns: 1fr;
        align-items: start;
    }
}