.items {
    display: flex;
    align-items: center;
    gap: 3em;
}

.items > img {
    width: 400px;
}

@media (max-width: 1000px) {
    .items > img {
        width: 300px;
    }
}

@media (max-width: 800px) {
    .items {
        flex-direction: column;
    }
}