.form {
    display: grid;
    margin: auto;
    width: max-content;
    margin-top: 5em;
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    grid-template-columns: repeat(2, 1fr);
}

.form > * {
    padding: 5rem 3em;
    border-radius: 12px 0 0 12px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--dark-orange);
    color: var(--white);
}

.formPartTitle {
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button {
    margin-top: 2em;
}


.button {
    background-color: transparent;
    border-radius: 100px;
    width: max-content;
    border: 1px solid var(--light-gray);
    padding: 0.5em 2em;
}

.redStar {
    color: var(--red);
}

.link {
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
    border: 1px solid var(--white);
    padding: 0.5em 1em;
    border-radius: 100px;
    width: max-content;
}