.input {
    padding: 0.5em 1em;
    background-color: var(--medium-gray);
    border: none;
    outline: none;
    width: 300px;
}

@media (max-width: 400px) {
    .input {
        width: 250px;
    }
}

@media (max-width: 350px) {
    .input {
        width: 220px;
    }
}