.review {
    display: flex;
    gap: 3em;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.comment {
    word-break: break-all;
}
