.column, .row {
    display: flex;
    gap: 2em;
    align-items: center;
}

.column {
    flex-direction: column;
}

.img {
    width: 400px;
}

@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .img {
        width: 250px;
    }
}