.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: max-content;

    margin: 5em auto;

    border-radius: 12px;
    border: 1px solid var(--light-gray);
}

.form > * {
    padding: 5rem 3em;
    border-radius: 12px 0 0 12px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1em;

    color: var(--white);
    background-color: var(--dark-orange);
}

.formPartTitle {
    margin: 0;
    margin-bottom: 1em;

    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button {
    margin-top: 2em;
}

.button {
    width: max-content;
    padding: 0.5em 2em;

    border: 1px solid var(--light-gray);
    border-radius: 100px;

    background-color: transparent;
}

.redStar {
    color: var(--red);
}

.link {
    width: max-content;

    padding: 0.5em 1em;

    font-size: 16px;
    text-decoration: none;

    color: var(--white);

    border: 1px solid var(--white);
    border-radius: 100px;
}

.selectedImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--light-gray);
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .form > * {
        border-radius: 12px;
        padding: 3rem 3em;
    }

    .formPartTitle {
        font-size: 21px;
    }

    .link {
        padding: 0em 1em;
    }
}

@media (max-width: 500px) {
    .form > * {
        padding: 1rem 2em;
    }

    .left > .formPartTitle {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .form > * {
        padding: 1rem 1.5em;
    }
}