.aboutMini {
    background-color: var(--beige);
}

.items {
    display: flex;
    align-items: center;
    padding: 3em 0;
    gap: 10em;
}

.items > img {
    width: 300px;
}

@media (max-width: 900px) {
    .items {
        flex-direction: column;
        gap: 3em;
    }
}

@media (max-width: 500px) {
    .items > img {
        width: 200px
    }
}