*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 2em 0;
}

.container {
    width: 90%;
    max-width: 130em;
    margin: auto;
}

@property --white {
    syntax: '<color>';
    inherits: true;
    initial-value: #fff;
}

@property --dark-orange {
    syntax: '<color>';
    inherits: true;
    initial-value: #d0834c;
}

@property --light-pink {
    syntax: "<color>";
    inherits: true;
    initial-value: #FF9191;
}

@property --red {
    syntax: "<color>";
    inherits: true;
    initial-value: #ff3333;
}

@property --blue {
    syntax: "<color>";
    inherits: true;
    initial-value: #0048FF;
}

@property --purple {
    syntax: "<color>";
    inherits: true;
    initial-value: #a633ff;
}

@property --beige {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFE2CE;
}

@property --dark-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #272727;
}

@property --light-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #a6a6a6;
}

:root {
    --dark-orange: #d0834c;
    --white: #fff;
    --light-pink: #FF9191;
    --red: #ff3333;
    --blue: #0048FF;
    --purple: #a633ff;
    --beige: #FFE2CE;
    --dark-gray: #272727;
    --light-gray: #a6a6a6;
}
